<p>resgister works!</p>

Enter the following details : <br />
ID <input type = "text" [(ngModel)] = 'user.empId'><br/>
Name <input type = "text" [(ngModel)] = 'user.empName'><br/>
Gender <input type = "text" [(ngModel)] = 'user.gender'><br/>
Salary <input type = "text" [(ngModel)] = 'user.salary'><br/>
Date of joining <input type = "text" [(ngModel)] = 'user.doj'><br/>
Login ID <input type = "text" [(ngModel)] = 'user.loginId'><br/>
Password <input type = "text" [(ngModel)] = 'user.password'><br/>

<button (click) = 'submit()'>Submit</button>
